
.col-md-4{
    margin-top: 30px;
    margin-left:40px
}
img{height: 100px;padding: 0%}

.card-body{
    height: 125px;
    
}


.jumbotron{font-family: 'Cinzel', serif;
    align-content: center;
    text-align: center;
   
}
#instructions{
    height: 300px;
   padding-left: 30px;

    
 
}
body{background-color: antiquewhite
    
}